@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: Roboto;
}


main{
    display: flex;
    position: absolute;
    background-color: #f0efef;
    width: 98%;
    margin: 10px;
}
header{
    background-color: white;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 56px;
}

 header nav a{
    text-decoration: none;
    color: white;
    padding: 20px 40px;
}

header nav img{
    margin: 20px;
    height: 24px;
}

header .search{
    display: inline-flex;
    border: 1px solid #CCCCCC;
    margin: 20px;
    width: 400px;
    height: 40px;
    justify-content: end;
}

header .search .bt-search{
    display: flex;
    width: 57px;
    height: 40px;
    border: 1px solid #f0efef;
    background-color: #f0efef;
}

header .search .bt-search img{
    display: flex;
    position: relative;
    margin: 5px;
    align-items: center;
    left: 10px;
}

header .profile{
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100px;
    height: 40px;
    margin: 20px;
    gap: 20px;
    position: relative;
    right: 60px;
    justify-content: space-between;
}

header .profile .bt-profile{
    border-radius: 50px;
}

header .profile .icon{
    width: 40px;
    height: 30px;
}

main .container1{
    margin: 10px;
    position: relative;
    left: 80px;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

main .container2{
    margin: 10px;
    width: 450px;
    flex-direction: column;
    position: relative;
    left: 5%;
    justify-content: center;
}

.container2 .videos{
    display: inline-flex;
    position: relative;
    margin: 5px;
    width: 95%;
    height: 200px;
}

main .container1 .conteudo iframe{
    border-radius: 20px;
}

.container1 .head-description{
    width: 1200px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
}

.container1 .head-description .nav1{
    width: 160px;
    height: 52px;
    margin: 10px;
}


.container1 .head-description .profile-main{
    width: 70px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
}

.container1 .nav1 h4{
    position: relative;
    left: 55%;
    bottom: 150%;
}

.container1 .nav1 p{
    position: relative;
    left: 55%;
    bottom: 190%;
}

.container1 .head-description .nav2{
    background-color: #CC0000;
    width: 190px;
    height: 52px;
    margin: 10px;
    position: relative;
    left: 40px;
}

.container1 .head-description .nav2 p{
    color: white;
    text-align: center;
}

.container1 .head-description .nav3{
    width: 160px;
    height: 52px;
    margin: 10px;
    position: relative;
    left: 3%;
}

.container1 .head-description .nav3 img{
    position: relative;
    top: 10%;
    margin: 10px;
}

.container1 .head-description .nav3 p{
    position: relative;
    left: 30%;
    bottom: 82%;
}

.container1 .head-description .nav4{
    width: 160px;
    height: 52px;
    margin: 10px;
    position: relative;
    right: 2%;
}

.container1 .head-description .nav4 img{
    position: relative;
    top: 10%;
    margin: 10px;
}

.container1 .head-description .nav4 p{
    position: relative;
    left: 30%;
    bottom: 87%;
}

.container1 .head-description .nav5{
    width: 160px;
    height: 52px;
    margin: 10px;
    position: relative;
    right: 2%;
}

.container1 .head-description .nav5 img{
    position: relative;
    top: 10%;
    margin: 10px;
}

.container1 .head-description .nav5 p{
    position: relative;
    left: 30%;
    bottom: 87%;
}

.container1 .head-description .nav6{
    width: 160px;
    height: 52px;
    margin: 10px;
}

.container1 .head-description .nav6 img{
    position: relative;
    top: 10%;
    margin: 10px;
}

.container1 .head-description .nav6 p{
    position: relative;
    left: 30%;
    bottom: 87%;
}

.container1 .description{
    width: 900px;
    height: 60px;
    position: relative;
    top: 4%;
}
.container2 .videos img{
    width: 220px;
    height: 160px;
}

.container2 .videos .description-col{
    position: relative;
    left: 10px;
    bottom: 10px;
}

.container2 .videos .description-col .title{
    font-size: 18px;
}

.container2 .videos .description-col .sub-title{
    font-size: 14px;
}

.container2 .videos .description-col .end-title{
    font-size: 14px;
}